{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Лабораторная работа 2</h1>
<p>Реализованный функционал:</p>
<ul>
    <li><a href="{{ url_for('url_params') }}">URL параметры</a> - просмотр параметров URL</li>
    <li><a href="{{ url_for('headers') }}">Заголовки</a> - просмотр заголовков запроса</li>
    <li><a href="{{ url_for('cookies') }}">Cookie</a> - работа с cookie</li>
    <li><a href="{{ url_for('form_params') }}">Параметры формы</a> - просмотр параметров формы</li>
    <li><a href="{{ url_for('phone') }}">Телефон</a> - валидация номера телефона</li>
</ul>
{% endblock %} 